<div id="top" style="line-height:20px; padding: 0 20px; background: #f5f5f5;color: #616161;">
  <div style="width:940px; margin: 0 auto;">
    <a href="/" style="display:inline-block; margin:20px 0px">
      <img src="<%= image_path('logo/logo.png')%>" alt="jieban" width="84" height="29">
    </a>
    <div id="log-reg" style="margin-top:20px;float:right;color:#a3a3a3;">
      <a href="" class="login-btn">登陆</a>
      <a href="" class="regis-btn">注册</a>
    </div>
  </div>

</div>

<div id="center" style="width:940px;margin: 0 auto;padding-top:30px;">
  <div class="filter">
    <div class="month-filter">
      <ul>
        <% (1..10).each do |month| %>
          <li >
            <a href="">
              <span><%= month %></span>月
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="destination-filter">
      <ul>
        <% %w(大理 香格里拉 梅里雪山 雨崩).each do |des| %>
          <li>
            <a href=""><%= des %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
